# ignore all root items
/*
__pycache__/

# unignore folders
!meeting_buddy/
!assets/
!scripts/
!.trae/
!docs/

# unignore files
!.gitignore
!README.md
!pyproject.toml
!uv.lock
!Makefile
!.pre-commit-config.yaml
!.editorconfig
!LICENSE
!tox.ini
!main.spec
!QWEN.md
!run_app.py
